<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css" />
      <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#">WEB322 - Yashvi Patel</span>
        </div>
    
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/blog">Blog</a></li>
            <li class="active"><a href="#">About Me</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/posts/add">Add Post</a></li>     
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <aside class="col-md-9">
          <article>
            <h2>About Me</h2>
      <p>Heyy, My name is Yashvi Patel. I am currently a full-time student at Seneca College in Computer Programming. I have been in Canada from last 7 months. Ever since I left my home town, life has been extremely challenging and exceptionally motivational. You never know what will happen the next day. But the thing I have realised sooner after landing here is "You are far stronger than you thought you are"</p>
      
      <p>Coming back to myself, I am a very passionate and enthusiastic person who enjoys the present without looking back into the past as well as thinking about the future.</p>

      <p>Some of my Hobbies includes : 
    <ul>
      <li><em><strong>Dancing</strong></em></li>
      <li><em><strong>Wandering and eating</strong></em></li>
      <li><em><strong>Photography</strong></em></li>
      </p>
            </article>
        </aside>
        <section class="main col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for further updates. !!!!</p>
        </section>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>